.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;

  .img-container {
    margin-right: 7px;
    // margin-left: 4px;
    // background-color: #fff;
    width: max-content;
    padding: 4px 0px;
    border-radius: 10px;
    // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    img {
      width: 55px;
      height: 55px;
      border-radius: 10px;
      vertical-align: middle;
    }
  }
}
.Underline {
  &:before {
    content: '';
    height: 2px;
    bottom: -7px;
    left: 0px;
    position: absolute;
    // width: 100px;
    width: 30%;
    background-color: #e3e3e3a8;
  }
}
.Underline-none {
  &:before {
    content: none;
  }
}
@media only screen and (max-width: 480px) {
  .main-container {
    .img-container {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
